.app-nav {
    position: relative;
    width: 100%;
    margin: 0;
    background-color: var(--base-color, #000);
    color: var(--base-background-color, #fff);
    padding: 0.5rem 0rem 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

#docsify-darklight-theme {
    position: relative;
    top: 1em;
    left: 0em;
}
